---
layout: base.njk
title: "monday.com service status • Incident history"
description: "Current status and historical average response times for monday.com infrastructure endpoints."
canonical: "/status/incidents/"
incidents:
  - start: 2026-06-10 08:11 UTC
    title: "Automation blocks with missing crednetials"
    description: "<p>The credentials feature is not working the exact problem is detailed here:</p>
                  <p><a target='_blank' href='https://monday-help.dsapps.dev/microsoft-365-office-embedded/missing-credentials'>
                  monday-help.dsapps.dev/microsoft-365-office-embedded/missing-credentials
                  </a></p>
                  <p>Replicated in multiple accounts (including customers) and reported to monday.com support June 12, 2026 (#4972815, #4972816, #4972818, #4972819, #4972820, #4972821).</p>"
  - start: 2026-06-02 11:02 UTC
    title: "Operation of the old automation builder is degraded"
    description: "<p>Existing automations are getting a null error for recipes that were working for a long time.</p>
                  <p>It is not possible to create automations in the old automation builder whch use OAuth.</p>
                  <p>Replicated in multiple accounts (including customers) and reported to monday.com support (#4946128).</p>"
  - start: 2026-03-06 06:04 UTC
    title: "Credentials empty in app integration templates"
    description: "<p>The credentials block is not saving the credentials, when created from an App Integration Template. Logs also show no credentials are sent. It only works via the 'Create Automation' button. Preset templates are not able to save the credentials.</p>
                  <p>Replicated in multiple accounts (including customers) and reported to monday.com support on March 17, 2026 (#4722079).</p>"

  - start: 2026-06-01 17:20 UTC
    end: 2026-06-03 14:00 UTC
    title: "Retroactive breaking change to the <code>create_timeline_item</code> mutation"
    description: "<p>At some time there has been an undocumented change to the <code>create_timeline_item</code> mutation. You used to be able to send a <code>timestamp</code> in and it would respect that timestamp as the <code>created_at</code>  time.</p>
                  <p>At some point, this has changed. Now the <code>timestamp</code> entry has been discarded, breaking my automation block. Now all new timeline items have the <code>created_at</code> timestamp of when the mutation was executed.</p>
                  <p>Replicated in multiple accounts and reported to monday.com support (#4943281). Also <a href='https://developer-community.monday.com/api-apps-framework-4/when-did-the-the-retroactive-breaking-change-to-the-create-timeline-item-mutation-happen-5286' target='_blank'>documented here</a>.</p>"
    resolution: "<p>The API just started working correctly all by itself. So far, there are no details from monday.com about why it broke, and what if anything was done that made it start working again. This is very bizarre.</p>"
  - start: 2026-04-29 17:00 UTC
    end: 2026-05-04 13:16 UTC
    title: Access to the new automation builder has been removed
    description: "<p>Users reported that they can no longer access the new 'build from scratch' automation builder – the legacy automation builder is displayed instead. 
                  All account currently known to be affected have the developer mode flag turned on.
                  <p>Replicated in multiple accounts (10+) and reported to monday.com support (#4862433, #4865944)."
    resolution: "The root cause has been identified and a rollback performed. The feature should now be restored for 100% of accounts. This affected only developer-mode-enabled accounts"
  - start: 2026-03-02 17:03 UTC
    end: 2026-03-09 13:53 UTC
    title: Workflow and automation actions not being displayed for marketplace apps
    description: "<p>Users reported that they cannot select automation block for marketplace app within workflow or sentence builders.</p>
                  <p>Replicated in multiple accounts and reported to monday.com support (#4675477, #4680576, #4680612, #4681236).</p>"
    resolution: "Fix deployed. The issue affected only users that have the developer mode flag turned on.  
                 Meaning if you have users that installed your app & are exposed to the new automation builder - as long as they didn't have the developer mode flag turned on, they would be able to see your blocks."

---

<div class="breadcrumb">
  <span>
    <a href="/" title="Home">
      <svg viewBox="0 0 20 20" fill="currentColor" width="14" height="14"><path d="M9.56992 2.1408C9.82591 1.95307 10.1741 1.95307 10.4301 2.1408L17.7028 7.47413C17.8896 7.61113 18 7.82894 18 8.06061V16.7879C18 17.1895 17.6744 17.5152 17.2727 17.5152H11.9394C11.5377 17.5152 11.2121 17.1895 11.2121 16.7879V13.1515H8.78788V16.7879C8.78788 17.1895 8.46227 17.5152 8.06061 17.5152H2.72727C2.32561 17.5152 2 17.1895 2 16.7879V8.06061C2 7.82894 2.11037 7.61113 2.29719 7.47413L9.56992 2.1408ZM3.45455 8.42914V16.0606H7.33333V12.4242C7.33333 12.0226 7.65894 11.697 8.06061 11.697H11.9394C12.3411 11.697 12.6667 12.0226 12.6667 12.4242V16.0606H16.5455V8.42914L10 3.62914L3.45455 8.42914Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
      
    </a>
  </span>
  <span>
    <svg viewBox="0 0 20 20" fill="currentColor" width="14" height="14" aria-hidden="true"><path d="M13.5303 9.46967L13 10L13.5303 10.5303C13.8232 10.2374 13.8232 9.76256 13.5303 9.46967ZM11.9393 10L5.46967 16.4697C5.17678 16.7626 5.17678 17.2374 5.46967 17.5303C5.76256 17.8232 6.23744 17.8232 6.53033 17.5303L13.5303 10.5303L13 10L13.5303 9.46967L6.53033 2.46967C6.23744 2.17678 5.76256 2.17678 5.46967 2.46967C5.17678 2.76256 5.17678 3.23744 5.46967 3.53033L11.9393 10Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
  </span>
  <span>
    <a href="/status/">Status</a>
  </span>
  <span>
    <svg viewBox="0 0 20 20" fill="currentColor" width="14" height="14" aria-hidden="true"><path d="M13.5303 9.46967L13 10L13.5303 10.5303C13.8232 10.2374 13.8232 9.76256 13.5303 9.46967ZM11.9393 10L5.46967 16.4697C5.17678 16.7626 5.17678 17.2374 5.46967 17.5303C5.76256 17.8232 6.23744 17.8232 6.53033 17.5303L13.5303 10.5303L13 10L13.5303 9.46967L6.53033 2.46967C6.23744 2.17678 5.76256 2.17678 5.46967 2.46967C5.17678 2.76256 5.17678 3.23744 5.46967 3.53033L11.9393 10Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
  </span>
  <span>
    <a href="/status/incidents/">Incidents</a>
  </span>
</div>

<h1 class="text-lg md:text-2xl font-semibold mb-4">monday.com service status</h1>

{% set ongoingCount = 0 %}
{% for incident in incidents %}{% if not incident.end %}{% set ongoingCount = ongoingCount + 1 %}{% endif %}{% endfor %}

<nav class="tabs">
  <a data-match="exact" href="/status/">Service status</a>
  <a data-match="include" href="/status/incidents/">Incidents <span class="inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">{{ ongoingCount }}</span></a>
  <a data-match="include" href="/status/infrastructure/">Infrastructure</a>
</nav>


<h2 class="mt-0">Incident history</h2>


<p>This page is a collective memory of incidents which may not be recorded elsewhere.</p>

<hr>

<div class="incidents max-w-screen-md">
{% for incident in incidents %}
    <div class="my-6">
        <div class="incident-heading">
            {{ incident.start }}
            {% if incident.end %}
                 - {{ incident.end }}
                <span class="inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                    Resolved
                </span>
            {% else %}
                <span class="inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                    Ongoing • {{ incident.start | daysSince }} days
                </span>
            {% endif %}
        </div>
        <h3 class="font-semibold my-2">{{ incident.title | safe }}</h3>
        <h4 class="incident-heading">Description</h4>
        <div>
            {{ incident.description | safe }}
        </div>
        {% if incident.resolution %}
          <h4 class="incident-heading">Resolution</h4>
          {{ incident.resolution | safe }}
        {% endif %}
    </div>
{% endfor %} 