<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}
  {% if app %}
    {% from "partials/google-seo-rich-snippets.njk" import SeoRichSnippet %}
    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
    {% set rating = ratings | findRatingById(app.app_id) %}
    {{ SeoRichSnippet(app, vendor, rating, site) }}
  {% endif %}
</head>
<body class="min-h-screen bg-white scroll-p-[24rem]">
  <div class="text-center bg-blue-600 text-xs p-2">
    <a class="text-white hover:text-white hover:opacity-80" target="_blank" href="https://monday.com/marketplace/listing/10000076/microsoft-365-sharepoint-automate-embed">
      Make monday.com work 
      <span class="hidden sm:inline">seamlessly</span> 
      with Microsoft 365 & SharePoint →
    </a>
  </div>
  <div class="header-wrapper">
    <header class="xl:container mx-auto p-4">
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <a id="home" href="/" class="">
          apps for monday.com
        </a>
        <nav>
          <a data-match="csv" data-csv="/,/installs/,/top-ranking/" href="/">Apps</a>
          <a data-match="include" href="/vendors/">Vendors</a>
          <a data-match="csv" data-csv="/partners/,/people/" href="/partners/">Partners</a>
          <a data-match="include" href="/status/">Status</a>
          <a data-match="include" href="/about/">About</a>
        </nav>
      </div>
    </header>
  </div>
 
  <main class="xl:container mx-auto px-4 py-8">
    {{ content | safe }}
  </main>

  <footer class="xl:container mx-auto px-4 py-8 mt-8 py-8 border-t-2 text-gray-500">
    &copy; <a href="https://www.dsapps.dev/" class="underline text-gray-500 hover:text-blue-500">David Simpson Apps</a>. All rights reserved.
    <a href="/utc/">UTC</a>
  </footer>

  {% include "partials/scroll-to-top.njk" %}
  
  <div class="text-red-600 text-green-600"><!--to ensure these styles are included in the stylesheet--></div>

  <script src="/js/all-pages.js?_={{ '' | cacheBusterTimestamp }}"></script>

  <!-- tippy tooltips -->
  <script src="https://unpkg.com/@popperjs/core@2" defer></script>
  <script src="https://unpkg.com/tippy.js@6" defer></script>
</body>
</html>
