<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="min-h-screen bg-white scroll-p-[24rem]">
  <div class="text-center bg-blue-600 text-xs p-2">
    <a class="text-white hover:text-white hover:opacity-80" target="_blank" href="https://monday.com/marketplace/listing/10000076/microsoft-365-sharepoint-automate-embed">
      Make monday.com work 
      <span class="hidden sm:inline">seamlessly</span> 
      with Microsoft 365 & SharePoint →
    </a>
  </div>
  <div class="header-wrapper">
    <header class="xl:container mx-auto p-4">
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <a id="home" href="/" class="">
          apps for monday.com
        </a>
        <nav>
          <a data-match="csv" data-csv="/,/installs/,/top-ranking/" href="/">All apps</a>
          <a data-match="include" href="/categories/">Categories</a>
          <a data-match="include" href="/vendors/">Vendors</a>
          <a data-match="include" href="/about/">About</a>
        </nav>
      </div>
    </header>
  </div>
 
  <main class="xl:container mx-auto px-4 py-8">
    {{ content | safe }}
  </main>

  {% include "partials/scroll-to-top.njk" %}
  <script src="/js/all-pages.js?_={{ '' | cacheBusterTimestamp }}"></script>
</body>
</html>
