<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.njk" %}
  {% if app %}
    {% include "partials/google-seo-rich-snippets.njk" %}
  {% endif %}
  {% if schemaType == 'vendor' %}
    {% include "partials/schema-vendor.njk" %}
  {% endif %}
  {% if schemaType == 'partner' %}
    {% include "partials/schema-partner.njk" %}
  {% endif %}
</head>
<body class="min-h-screen bg-white scroll-p-[24rem] flex flex-col">
  <div class="text-center bg-blue-600 text-xs p-2">
    <a class="text-white hover:text-white hover:opacity-80" target="_blank" href="https://monday.com/marketplace/listing/10000076/microsoft-365-sharepoint-automate-embed">
      Make monday.com work 
      <span class="hidden sm:inline">seamlessly</span> 
      with Microsoft 365 & SharePoint →
    </a>
  </div>
  <div class="header-wrapper">
    <header class="xl:container mx-auto p-4">
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <a id="home" href="/" class="">
          apps for monday.com
        </a>
        <nav>
          <div class="nav-item">
            <a data-match="csv" data-csv="/,/categories/,/installs/,/top-ranking/,/anomalies/,/apps/archive/" href="/">Apps</a>
            <div class="dropdown">
              <div>
                <a href="/">Listings</a>
                <a href="/categories/">Categories</a>
                <a href="/top-ranking/">Top ranking</a>
                <a href="/installs/">Installs</a>
                <a href="/anomalies/">Anomalies</a>
                <a href="/apps/archive/">Archive</a>
              </div>
            </div>
          </div>
          <a data-match="include" href="/vendors/">Vendors</a>
          <div class="nav-item">
            <a data-match="csv" data-csv="/partners/,/people/" href="/partners/">Partners</a>
            <div class="dropdown">
              <div>
                <a href="/partners/">Companies</a>
                <a href="/people/">People</a>
              </div>
            </div>
          </div>
          <div class="nav-item">
            <a data-match="include" href="/status/">Status</a>
            <div class="dropdown">
              <div>
                <a href="/status/">Service Status</a>
                <a href="/status/incidents/">Incidents</a>
                <a href="/status/infrastructure/">Infrastructure</a>
              </div>
            </div>
          </div>
          <a data-match="include" href="/about/">About</a>
        </nav>
      </div>
    </header>
  </div>
 
  <main class="xl:container mx-auto px-4 py-8 flex-1">
    {{ content | safe }}
  </main>

  <footer class="xl:container mx-auto px-4 py-8 mt-8 py-8 border-t-2  md:pb-20">
    &copy; <a href="https://www.dsapps.dev/" class="underline hover:text-blue-500">David Simpson Apps</a>. All rights reserved.
    <a class="underline hover:text-blue-500" href="/utc/">UTC</a>.
    <br>
    <a class="underline hover:text-blue-500" href="https://forms.monday.com/forms/f6ec658a2c23afc1052d908972edf24b?r=use1" target="_blank" rel="noopener">Are you a marketplace vendor? Join our Slack workspace to get updates about this website.</a>
  </footer>

  <div class="hidden md:block fixed bottom-0 left-0 w-full bg-pink-100 p-2 z-50 text-center text-xs">
    Are you a monday.com marketplace vendor?
    <a class="underline hover:opacity-80" href="https://forms.monday.com/forms/f6ec658a2c23afc1052d908972edf24b?r=use1" target="_blank" rel="noopener">
      Join our private Slack workspace to get updates about this website.
    </a>
  </div>

  {% include "partials/scroll-to-top.njk" %}
  
  <div class="text-red-600 text-green-600"><!--to ensure these styles are included in the stylesheet--></div>

  <script src="/js/all-pages.js?_={{ '' | cacheBusterTimestamp }}"></script>

  <!-- tippy tooltips -->
  <script src="https://unpkg.com/@popperjs/core@2" defer></script>
  <script src="https://unpkg.com/tippy.js@6" defer></script>
</body>
</html>
