---
layout: base.njk
pagination:
  data: categories
  alias: category
  size: 1
permalink: "categories/{{ category.id }}/"

eleventyComputed:
  title: "{{category.name}} • Categories"
---

{% from "partials/app-card.njk" import appCard %}


<div class="mx-auto">


  <h1 class="text-xl md:text-3xl  mb-8">{{ category.name }}</h1>

  {% include "partials/search.njk" %}
  
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {% for app in marketplace | filterByCategory(category.id) | sortByInstalls %}
      {{ appCard(app, ratings, vendors, installs) }}
    {% endfor %}
  </div>
</div> 