@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Kufi+Arabic:wght@300;400;500&family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Noto+Sans+Hebrew:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
	--title-font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}



body {
    font-family: var(--font-family);
}



h1,h2,h3,h4,h5,h6 {
    @apply font-normal;
    font-family: var(--title-font-family);
}
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: var(--title-font-family);
}

h2 {
    @apply mt-10 mb-4 font-bold;
}

p {
    @apply py-2;
}
/* for strange `<p><br></p>` that's added to text*/
.prose p {
    @apply m-0 p-0;
}

.prose ul,
.porse li {
    @apply m-0;
}
a {
    @apply text-blue-700 hover:text-blue-900;
}
nav a {
    @apply text-blue-700 hover:text-blue-900 py-1 hover:underline;
}
nav a+a {
    @apply ml-2;
}



pre {
    @apply border rounded p-4;
    overflow: auto;
}

span[title] svg {
    @apply inline-block;
}



.header-wrapper {
    @apply sticky top-0 shadow-sm backdrop-blur-lg z-[100];
}
.header-wrapper[data-hostname="localhost"] {
    @apply bg-sky-100 ;
}
header {
    nav {
        @apply order-2 sm:order-1 mt-2 sm:mt-0  sm:mr-2;
    }
    #home {
        @apply order-1 sm:order-2 flex items-center gap-2 text-xl font-bold text-gray-800;
    }
    #home svg {
        @apply rounded-sm;
    }

}

.add-to-monday {
    max-width: 180px;
}

.card {
    @apply overflow-hidden;
}

.chart-container {
    @apply text-sm italic text-gray-600;
}
.chart-container + .chart-container {
    @apply mt-10;
}

li.toc-list-item {
    @apply p-2 py-1
}
.toc-link::before {
    max-height: 60px;
}
li.toc-list-item .is-active-link::before {
    @apply bg-blue-500;
}

ul {
    @apply list-disc pl-4;
}
ol {
    @apply list-decimal pl-4;
}


.sorting {
    @apply -mt-2 mb-6 text-right leading-8;
}
.apps-menu a,
.sorting button {
    @apply bg-gray-100 text-gray-600 px-2 py-1 rounded-md text-sm;
    &:hover {
        @apply bg-gray-200;
    }
    &.active {
        @apply bg-gray-200;
    }
}
.apps-menu a.selected,
.sorting button.selected {
    @apply bg-gray-300 text-black; 
}

.badge {
    @apply inline-block bg-gray-100 text-gray-800 px-3 py-1 rounded-full text-xs;
}
.badge.green {
    @apply bg-green-100 text-green-800;
}
.badge.blue {
    @apply bg-blue-100 text-blue-800;
}
.badge.purple {
    @apply bg-purple-100 text-purple-800;
}

.top-installs h2 {
    @apply lg:h-auto sm:h-24 md:h-16 font-semibold mt-4;
}
.top-installs h2, 
.top-installs li {
    @apply sm:h-16 md:h-14;
}
.top-installs li a {
    max-width: calc( 100% - 55px );
    text-overflow: ellipsis;
    overflow: hidden;
    @apply whitespace-nowrap inline-block align-top font-semibold;
}

/* .top-installs > div {
    @apply bg-gray-100;
} */
.top-installs ol {
    @apply pl-8;
}
.top-installs svg {
    width: 20px;
    height: 20px;
    @apply text-blue-600;
}

.top-installs li[data-app-id] {
    cursor: pointer;
    @apply p-1 rounded;
}
.top-installs li[data-app-id].selected {
    @apply bg-blue-100;
}
.top-installs li[data-app-id]:hover {
    @apply bg-gray-100;
}

[data-toggle] svg {
    display: inline-block !important;
}


.button {
    @apply m-1 px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
}