@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Kufi+Arabic:wght@300;400;500&family=Noto+Sans+JP:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Noto+Sans+Hebrew:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
	--title-font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}


body {
    font-family: var(--font-family);
}

h1,h2,h3,h4,h5,h6 {
    @apply font-normal;
    font-family: var(--title-font-family);
    
}

p {
    @apply py-2;
}
/* for strange `<p><br></p>` that's added to text*/
.prose p {
    @apply m-0 p-0;
}

a {
    @apply text-blue-700 hover:text-blue-900;
}
nav a {
    @apply text-blue-700 hover:text-blue-900 py-1 hover:underline;
}
nav a+a {
    @apply ml-2;
}



pre {
    @apply border rounded p-4;
    overflow: auto;
}

span[title] svg {
    @apply inline-block;
}

.github-corner {
    @apply z-[20];
    top: 0;
    right: 0;
    position: absolute;
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}
@media (max-width:500px){
    .github-corner:hover .octo-arm{animation:none}
    .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}



.header-wrapper {
    @apply sticky top-0 shadow-md bg-white z-[100];
}
.header-wrapper[data-hostname="localhost"] {
    @apply bg-sky-100;
}


.add-to-monday {
    max-width: 180px;
}

.card {
    @apply overflow-hidden;
}

.chart-container {
    @apply text-sm italic text-gray-600;
}