---
layout: base.njk
title: "About this site"
description: "The purpose of this website and it's origins"
---


  <div class="breadcrumb">
    <span>
      <a href="/">
        <svg viewBox="0 0 20 20" fill="currentColor" width="14" height="14" class="breadcrumbIcon_d94850cf8c"><path d="M9.56992 2.1408C9.82591 1.95307 10.1741 1.95307 10.4301 2.1408L17.7028 7.47413C17.8896 7.61113 18 7.82894 18 8.06061V16.7879C18 17.1895 17.6744 17.5152 17.2727 17.5152H11.9394C11.5377 17.5152 11.2121 17.1895 11.2121 16.7879V13.1515H8.78788V16.7879C8.78788 17.1895 8.46227 17.5152 8.06061 17.5152H2.72727C2.32561 17.5152 2 17.1895 2 16.7879V8.06061C2 7.82894 2.11037 7.61113 2.29719 7.47413L9.56992 2.1408ZM3.45455 8.42914V16.0606H7.33333V12.4242C7.33333 12.0226 7.65894 11.697 8.06061 11.697H11.9394C12.3411 11.697 12.6667 12.0226 12.6667 12.4242V16.0606H16.5455V8.42914L10 3.62914L3.45455 8.42914Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        <span>Home</span>
      </a>
    </span>
    <span>
      <svg viewBox="0 0 20 20" fill="currentColor" width="14" height="14" class="separatorIcon_3a648a2555" aria-hidden="true"><path d="M13.5303 9.46967L13 10L13.5303 10.5303C13.8232 10.2374 13.8232 9.76256 13.5303 9.46967ZM11.9393 10L5.46967 16.4697C5.17678 16.7626 5.17678 17.2374 5.46967 17.5303C5.76256 17.8232 6.23744 17.8232 6.53033 17.5303L13.5303 10.5303L13 10L13.5303 9.46967L6.53033 2.46967C6.23744 2.17678 5.76256 2.17678 5.46967 2.46967C5.17678 2.76256 5.17678 3.23744 5.46967 3.53033L11.9393 10Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
    </span>
    <span>
      <a href="/about/" >
        About
      </a>
    </span> 
  </div>

<div class="max-w-screen-md">

  
    <h1 class="text-lg md:text-2xl font-semibold">
        About this site
    </h1>


    <h2>Disclaimer</h2>

    <p>         
        This site is <b>not affiliated with monday.com</b> in any way. If you have any concerns about using this site, please just use
        <a target="_blank" href="https://monday.com/marketplace/" rel="nofollow">monday.com marketplace</a> instead.
    </p>
    

    <h2>What is this website for?</h2>


    <p>
        This site is an unofficial listing of apps from the <a href="https://monday.com/marketplace/" rel="nofollow">monday.com marketplace</a> 
        from <a target="_blank" href="https://www.linkedin.com/in/dvdsmpsn/">David</a> at <a target="_blank" href="https://www.dsapps.dev/">David Simpson Apps</a>.
    </p>

    <h3 class="mt-8 mb-4 font-semibold">The original idea</h3>


    <p>
        The monday.com marketplace is mainly built using client-side technologies, so is not currently optimised for SEO. 
        Additionally, the mobile version is different and does not render vendor pages at all.
        This site started as a demonstration to show how a responsively designed, static HTML marketplace site can be rapidly developed and deployed.
    </p>

    <p>The key features behind the site:</p>

    <ul>
        <li>Static HTML with almost no client-side JavaScript</li>
        <li>Stupidly quick load times</li>
        <li>Responsive web design</li>
        <li>SEO optimised</li>
        <li>A high Lighthouse score</li>
        <li>A list of all apps on a single page</li>
        <li>A list of all vendors on a single page</li>
        <li>All data for each app rendered in a single page with no data hidden in a tabbed or accordion-based interface</li>

    </ul>

    <h3 class="mt-8 mb-4 font-semibold">What's it for now? Marketplace intelligence</h3>

    <p>The easy part was building a marketplace listing website. The more interesting part that has been built since is the historical analytics data.</p>

    <p>We now support historical data for</p>

    <ul>
        <li>Installations – <a href="/installs/">graphs for overall marketplace</a></li>
        <li>Installations – graphs for each app and vendor</li>
        <li>Installations – <a href="/top-ranking/">top ranking lists</a> for "Trending this week" category, Last 7 days,  Last 30 days,  Last 90 days, All time installs</li>
        <li>Ratings (average rating and number of ratings) – graphs for each app</li>
        <li>Categories (Featured, Editor's choice, Trending this week) – graphs for each app</li>
    </ul>



    <h2>Where do you get the data from?</h2>
    <p>
        All data on the site is public. It is automatically fetched from various public endpoints. 
        The list of all apps on the monday.com marketplace is retrieved from the public REST API of monday.com. 
        If you are interested in the details, please <a target="_blank" href="https://www.dsapps.dev/contact/">reach out to us</a>.
    </p>

    <h2>How often is the data on the site refreshed?</h2>
    <p>
        The site is rebuilt at least daily. A GitHub action collects the number of installs for each app and each vendor daily sometime between 00:00 and 03:00 UTC, 
        then the site is rebuilt with the new installation data and data for any new apps.
    </p>


    <h2>Technologies used</h2>

    <p>
        This site uses 
        <a target="_blank" href="https://www.11ty.dev/">Eleventy, a static site generator</a> and
        <a target="_blank" href="https://tailwindcss.com/">tailwindcss</a>.
        
        It is built using 
        <a target="_blank" href="https://github.com/davidsimpsonapps/static-monday-marketplace/actions">GitHub Actions</a>
        and hosted by 
        <a target="_blank" href="https://pages.cloudflare.com/">CloudFlare Pages</a>.
    </p>


    <p>                 
        If you're interested in how it is built, the source code is hosted on <a target="_blank" href="https://github.com/davidsimpsonapps/static-monday-marketplace" aria-label="View source on GitHub">GitHub</a>.
    </p>



    <h2>Credits</h2>
    <p>Historical installation data was generously supplied by Bartosz at <a href="/vendors/10000265/#/workflow-boost">Workflow Boost</a>.</p>


</div>
