---
layout: base.njk
title: About this site
---

<div class="mx-auto">

  
    <h1 class="text-lg md:text-2xl font-semibold">
        About this site
    </h1>

    <p>
        This site is an unofficial listing of apps from the <a href="https://monday.com/marketplace/" rel="nofollow">monday.com marketplace</a> from <a target="_blank" href="https://www.dsapps.dev/">David Simpson Apps</a>.
   
    </p>
    <p>         
        It is <b>not affiliated with monday.com</b> in any way. If you have any concerns about using this site, please just use
        <a href="https://monday.com/marketplace/" rel="nofollow">monday.com marketplace</a> instead.
        
    </p>

    <p>The key features behind the site:</p>

    <ul>
        <li>Static HTML with almost no Javascript</li>
        <li>It loads stupidly fast</li>
        <li>It uses responsive web design</li>
        <li>It is SEO optimised</li>
        <li>It shows what can be achieved in a very short period of time</li>
        <li>It has a high Lighthouse score</li>
        <li>It shows historical installation data for apps and vendors</li>
    </ul>


    <p>                 
        If you're interested in how it is built, the source code is hosted on <a target="_blank" href="https://github.com/davidsimpsonapps/static-monday-marketplace" aria-label="View source on GitHub">GitHub</a>.
    </p>
</div>
