---
layout: base.njk
title: Home
---

{% from "partials/app-card.njk" import appCard %}

<div class="mx-auto">

  <div class="flex gap-3 mb-2 items-center justify-between">
    <div class="flex gap-3 items-center">
      <h1 class="text-lg md:text-2xl font-semibold">
        Apps
      </h1>
      <span>
        <span data-total="{{ marketplace.length }}" class="inline-block bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-xs">
          {{ marketplace.length }}
        </span>
      </span>
    </div>
    <span class="apps-menu">
      <a href="/" class="selected">Listings</a>
      <a href="/top-ranking/">Top ranking</a>
      <a href="/installs/">Installs</a>
    </span>
  </div>

  <p class="py-4">
    This website lists all <a target="_blank" href="https://monday.com/marketplace/">monday.com marketplace</a> 
    apps on one page. Search for specific apps below.
  </p>
  
  {% include "partials/search.njk" %}
  {% include "partials/sorting.njk" %}


  <div class="item-list cards">
    <div class="item card cards-hidden list-header">
      <div></div>
      <div>App</div>
      <div>Vendor</div>
    </div>

    {% set specialApps = ['10000076', '10000574','10000414' ] %}
    {% for id in specialApps %}
      {% set app = marketplace | findAppById(id) %}
      {{ appCard(app, ratings, vendors, installs) }}
    {% endfor %}
  
    {% for app in marketplace | removeAquisitionSource('monday') | removeAppsByIds(specialApps) | sortByCreatedAt %}
      {{ appCard(app, ratings, vendors, installs) }}
    {% endfor %}
  </div>
</div>
