---
layout: base.njk
title: monday.com marketplace apps
---

{% from "partials/app-card.njk" import appCard %}

<div class="max-w-7xl mx-auto">


  <h1 class="text-xl md:text-3xl  mb-8">All apps</h1>
  
  {% include "partials/search.njk" %}

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for app in marketplace | sortByInstalls  %}
      {{ appCard(app, ratings, vendors, installs) }}
    {% endfor %}
  </div>
</div>
