---
layout: base.njk
title: Top ranking apps
---
{% import "partials/partner-badge.njk" as badges %}

<div>

    <div class="flex gap-3 mb-2 items-center justify-between">
        <div class="flex gap-3 items-center">
            <span class="h1 text-lg md:text-2xl font-semibold">
                Apps
            </span>
            <!--
            <span>
                <span data-total="{{ marketplace.length }}" class="inline-block bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-xs">
                {{ marketplace.length }}
                </span>
            </span>
            -->
        </div>

        <span class="apps-menu">
          <a href="/">Listings</a>
          <a href="/top-ranking/" class="selected">Top ranking</a>
          <a href="/installs/">Installs</a>
        </span>
    </div>


    <h1 class="text-lg sm:text-2xl font-semibold mt-10 mb-4">Top ranking apps</h1>

    {% include "partials/search.njk" %}

    <p class="text-sm">Click on an item to highlight it in all lists. This data is refreshed daily sometime between 00:00 and 03:00 UTC.</p>

    <div class="top-installs sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 md:gap-4">

        <div class="order-5">
            <h2>
                <span class="mr-1">All time</span>

                <button class="highlight-all-apps-in-list" 
                    aria-controls="allTime" 
                    data-toggle="tooltip" 
                    title="Highlight all apps in this list"
                    >🔦</button>
                
            </h2>
            <p>All time installs.</p>

            {% set apps = marketplace | sortByTotalInstalls | limit(20) %}
            <ol id="allTime">
                {% for app in apps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li class="search-item" data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" data-toggle="tooltip" title="{{ app.name }}" data-placement="top">
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.totalInstalls %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Nno. of installs" data-placement="top">
                                {{ app.installsDelta.totalInstalls}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">
                            by {{ vendor.name }}
                            {{ badges.partnerBadge(vendor.partners_program) }}
                        </div>
                    </li>
                {% endfor %}
            </ol>

        </div>

        <div class="order-4" data-delta="-90d">
            <h2>
                <span class="mr-1">Last 90 days</span>

                <button class="highlight-all-apps-in-list" 
                    aria-controls="last90days" 
                    data-toggle="tooltip" 
                    title="Highlight all apps in this list"
                    >🔦</button>
            </h2>
            <p>Change in no. of installs in the last 90 days.</p>

            {% set apps = marketplace | sortByInstallsDeltaNinetyDays | limit(20) %}
            <ol id="last90days">
                {% for app in apps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li class="search-item" data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" data-toggle="tooltip" title="{{ app.name }}" data-placement="top">
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.thirtyDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in no. of installs in the last 30 days" data-placement="top">
                                {{ app.installsDelta.ninetyDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">
                            by {{ vendor.name }}
                            {{ badges.partnerBadge(vendor.partners_program) }}
                        </div>
                    </li>
                {% endfor %}
            </ol>

        </div>
        <div class="order-3" data-delta="-30d">
            <h2>
                <span class="mr-1">Last 30 days</span>

                <button class="highlight-all-apps-in-list" 
                    aria-controls="last30days" 
                    data-toggle="tooltip" 
                    title="Highlight all apps in this list"
                    >🔦</button>
            </h2>
            <p>Change in no. of installs in the last 30 days.</p>

            {% set thisMonthsApps = marketplace | sortByInstallsDeltaThirtyDays | limit(20) %}
            <ol id="last30days">
                {% for app in thisMonthsApps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li class="search-item" data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" data-toggle="tooltip" title="{{ app.name }}" data-placement="top">
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.thirtyDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in no. of installs in the last 30 days" data-placement="top">
                                {{ app.installsDelta.thirtyDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">
                            by {{ vendor.name }}
                            {{ badges.partnerBadge(vendor.partners_program) }}
                        </div>
                    </li>
                {% endfor %}
            </ol>

        </div>
        <div class="order-2" data-delta="-7d">
            <h2>
                <span class="mr-1">Last 7 days</span>

                <button class="highlight-all-apps-in-list" 
                    aria-controls="last7days" 
                    data-toggle="tooltip" 
                    title="Highlight all apps in this list"
                    >🔦</button>
            </h2>
            <p>Change in no. of installs in the last 7 days.</p>

            {% set thisWeeksApps = marketplace | sortByInstallsDeltaSevenDays | limit(20) %}
            <ol id="last7days">
                {% for app in thisWeeksApps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li class="search-item" data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" data-toggle="tooltip" title="{{ app.name }}" data-placement="top">
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.sevenDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in no. of installs in the last 7 days" data-placement="top">
                                {{ app.installsDelta.sevenDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">
                            by {{ vendor.name }}
                            
                            {{ badges.partnerBadge(vendor.partners_program) }}
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="order-1">
            <h2>
                <span class="mr-1">"Trending this week"</span>

                <a href="https://github.com/davidsimpsonapps/static-monday-marketplace/blob/master/src/_data/json/trending/apps/trending_this_week.json"
                    target="_blank"
                    data-toggle="tooltip" 
                    title="View the data file & last update time"
                    >⏱️</a>

                <button class="highlight-all-apps-in-list" 
                    aria-controls="trendingApps" 
                    data-toggle="tooltip" 
                    title="Highlight all apps in this list"
                    >🔦</button>

            </h2>
            <p>Apps in the "Trending this week" category in the marketplace.</p>
        
            {% set trendingApps = marketplace | filterByCategory(10000004) | sortByInstallsDeltaSevenDays %}
            <ol id="trendingApps">
                {% for app in trendingApps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li class="search-item" data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" data-toggle="tooltip" title="{{ app.name }}" data-placement="top">
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.sevenDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in no. of installs in the last 7 days" data-placement="top">
                                {{ app.installsDelta.sevenDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">
                            <span class="vendor">by {{ vendor.name }}</span>
                            {{ badges.partnerBadge(vendor.partners_program) }}
                        </div>
                    </li>
                {% endfor %}
            </ol>

            <!--<p class="text-sm text-gray-600 italic ">This category is limited to 20 items only.</p>-->
        
        </div>
    </div>

    <hr class="my-8">

    <p><a href="https://youtube.com/watch?v=joh37lrvf-s" title="Althea & Donna - Uptown Top Ranking">More top ranking goodness</a>.</p>

</div>




<script>
document.addEventListener('DOMContentLoaded', function() {
  // Select all elements with data-app-id attribute
  const appElements = document.querySelectorAll('li[data-app-id]');
  
  // Add click event listener to each element
  appElements.forEach(element => {
    element.addEventListener('click', function() {
      // Get the data-app-id value of the clicked element
      const appId = this.getAttribute('data-app-id');
      
      // First remove .selected from all elements
      appElements.forEach(el => {
        el.classList.remove('selected');
      });
      
      // Then add .selected to all elements with matching data-app-id
      const matchingElements = document.querySelectorAll(`[data-app-id="${appId}"]`);
      matchingElements.forEach(el => {
        el.classList.add('selected');
      });
    });
  });



  //              <button class="highlight-all-apps-in-list" 
  //                  aria-controls="trendingApps" 
  //                  data-toggle="tooltip" 
  //                  title="Highlight all apps in this list"
  //                  >🔦</button>
  
  const highlightAllAppsInThisList = document.querySelectorAll('button.highlight-all-apps-in-list');

  // Add click event listener to each element
  highlightAllAppsInThisList.forEach(element => {
    element.addEventListener('click', function() {
      // First remove .selected from all elements
      appElements.forEach(el => {
        el.classList.remove('selected');
      });
      highlightAllAppsInThisList.forEach(el => {
        el.classList.remove('selected');
      });
      element.classList.add('selected');


      const listId = element.getAttribute('aria-controls');
      if (listId) {
        const appsInThisList = document.querySelectorAll(`#${listId} li[data-app-id]`)
        appsInThisList.forEach(i => {
          const appId = i.getAttribute('data-app-id');
       
          // Then add .selected to all elements with matching data-app-id
          const matchingElements = document.querySelectorAll(`[data-app-id="${appId}"]`);
          matchingElements.forEach(el => {
            el.classList.add('selected');
          });           
        })
      }
    });
  });
    
});
</script>
