---
layout: base.njk
title: Top ranking apps
---

<div>

    <div class="flex gap-3 mb-2 items-center justify-between">
        <div class="flex gap-3 items-center">
            <span class="h1 text-lg md:text-2xl font-semibold">
                Apps
            </span>
            <span>
                <span data-total="{{ marketplace.length }}" class="inline-block bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-xs">
                {{ marketplace.length }}
                </span>
            </span>
        </div>

        <span class="apps-menu">
          <a href="/">Listings</a>
          <a href="/top-ranking/" class="selected">Top ranking</a>
          <a href="/installs/">Installs</a>
        </span>
    </div>


    <h1 class="text-lg sm:text-2xl font-semibold mt-10 mb-4">Top ranking apps</h1>

    <p class="text-sm">Click on an item to highlight it in all lists. This data is refreshed daily sometime between 00:00 and 03:00 UTC.</p>

    <div class="top-installs sm:grid grid-cols-2 sm:grid-cols-4 gap-2 md:gap-4">
        <div data-delta="-90d">
            <h2>
                Last 90 days
                <span data-toggle="tooltip" title="Change in installs in the last 90 days">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z"/></svg>
                </span>
            </h2>
            {% set apps = marketplace | sortByInstallsDeltaNinetyDays | limit(50) %}
            <ol>
                {% for app in apps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" >
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.thirtyDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in installs in the last 30 days">
                                {{ app.installsDelta.ninetyDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">by {{ vendor.name }}</div>
                    </li>
                {% endfor %}
            </ol>

        </div>
        <div  data-delta="-30d">
            <h2>
                Last 30 days
                <span data-toggle="tooltip" title="Change in installs in the last 30 days">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z"/></svg>
                </span>
            </h2>
            {% set thisMonthsApps = marketplace | sortByInstallsDeltaThirtyDays | limit(50) %}
            <ol>
                {% for app in thisMonthsApps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" >
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.thirtyDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in installs in the last 30 days">
                                {{ app.installsDelta.thirtyDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">by {{ vendor.name }}</div>
                    </li>
                {% endfor %}
            </ol>

        </div>
        <div data-delta="-7d">
            <h2>
                Last 7 days

                <span data-toggle="tooltip" title="Change in installs in the last 7 days">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z"/></svg>
                </span>
            </h2>

            {% set thisWeeksApps = marketplace | sortByInstallsDeltaSevenDays | limit(50) %}
            <ol>
                {% for app in thisWeeksApps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" >
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.sevenDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in installs in the last 7 days">
                                {{ app.installsDelta.sevenDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">by {{ vendor.name }}</div>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div>
            <h2>
                Trending this week <em>category</em>
                <span data-toggle="tooltip" title="Data as provided by monday.com">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-1-11v6h2v-6h-2zm0-4v2h2V7h-2z"/></svg>
                </span>
            </h2>
        
            {% set trendingApps = marketplace | filterByCategory(10000004) | sortByInstallsDeltaSevenDays %}
            <ol>
                {% for app in trendingApps %}
                    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}
                    <li data-id="{{ app.id}}" data-app-id="{{ app.app_id}}">
                        <a href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" >
                            {{ app.name }}
                        </a>
                        {% if app.installsDelta.sevenDays %}
                            <span class="badge text-xs" data-toggle="tooltip" title="Change in installs in the last 7 days">
                                {{ app.installsDelta.sevenDays}}
                            </span>
                        {% endif %}
                        <div class="text-gray-600 text-xs">by {{ vendor.name }}</div>
                    </li>
                {% endfor %}
            </ol>

            <p class="text-sm text-gray-600 italic ">This category is limited to 20 items only.</p>
        
        </div>
    </div>

    <hr class="my-8">

    <p><a href="https://youtube.com/watch?v=joh37lrvf-s" title="Althea & Donna - Uptown Top Ranking">More top ranking goodness</a>.</p>

</div>




<script>
document.addEventListener('DOMContentLoaded', function() {
  // Select all elements with data-app-id attribute
  const appElements = document.querySelectorAll('li[data-app-id]');
  
  // Add click event listener to each element
  appElements.forEach(element => {
    element.addEventListener('click', function() {
      // Get the data-app-id value of the clicked element
      const appId = this.getAttribute('data-app-id');
      
      // First remove .selected from all elements
      appElements.forEach(el => {
        el.classList.remove('selected');
      });
      
      // Then add .selected to all elements with matching data-app-id
      const matchingElements = document.querySelectorAll(`[data-app-id="${appId}"]`);
      matchingElements.forEach(el => {
        el.classList.add('selected');
      });
    });
  });
});
</script>
