{% macro appCard(app, ratings, vendors, installs) %}
    {% set vendor = vendors | findVendorById(app.marketplace_developer_id) %}

    {% set appInstalls = 0 %}
    {% set montlyInstalls = 0 %}
    {% if installs %}
      {% set appInstalls =  installs | findInstallsById(app.app_id) %}
      {% set montlyInstalls = appInstalls | averageInstallsPerMonth(app.created_at) %}
    {% endif %}
    {% if ratings %}
      {% set rating = ratings | findRatingById(app.app_id) %}
    {% endif %}

      <a 
        href="/apps/{{ app.id }}/#/{{ app.name | lower | replace(' ', '-') }}" 
        class="card block bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200 border border-gray-100"
        data-installs="{{ appInstalls }}"
        data-monthly-installs="{{ montlyInstalls }}"
        data-release-date="{{ app.created_at }}"
        {% if ratings %}data-rating="{{ rating.rating }}"{% endif %}
      >
        <div class="p-6 flex flex-col h-full">
          <div>
            {% if app.logo_url %}
              <img src="{{ app.logo_url }}" alt="{{ app.name }} logo" class="w-8 h-8 sm:w-10 sm:h-10 mb-4 rounded-lg">
            {% endif %}
            <div>
              <h2 class="text-lg font-semibold mb-1">{{ app.name }}</h2>
              <p class="text-sm text-gray-500">
                By {{ vendor.name if vendor else "Unknown Vendor" }}
                {% if app.badges_data.security === true %}
                  <span title="Security badge" class="ml-1"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Security badge</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M8.1268,15.3208 C7.8518,15.4264 7.5482,15.4264 7.2732,15.3208 C2.89097361,13.6386115 -0.00112082558,9.42950309 -3.2566432e-07,4.7355 L-3.2566432e-07,1.1836 C-3.2566432e-07,0.869499083 0.124851208,0.56827897 0.347057232,0.346279265 C0.569263257,0.12427956 0.870599218,-0.000291915351 1.1847,-5.11890647e-07 L14.2153,-5.11890647e-07 C14.8691624,-5.11890647e-07 15.3993929,0.529737875 15.4000031,1.1836 L15.4000031,4.7366 C15.4034867,9.43107638 12.5104796,13.6410756 8.1268,15.3208 L8.1268,15.3208 Z" id="Path" fill="#0F9B63" fill-rule="nonzero"></path><polyline stroke="#FFFFFF" stroke-width="1.925" points="4.1382 6.1237 7.0257 9.0112 11.8382 3.7169"></polyline></g></svg></span>
                {% endif %}

                {% if vendor.partners_program === 1 %}
                  <span title="Bronze"><span class="hidden">Bronze</span><svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon"><circle cx="10" cy="10" r="8" fill="#C25531"></circle><path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path></svg></span>
                {% elseif vendor.partners_program === 2 %}
                  <span title="Silver"><span class="hidden">Silver</span><svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon"><circle cx="10" cy="10" r="8" fill="gray"></circle><path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path></svg></span>
                {% elseif vendor.partners_program === 3 %}
                  <span title="Gold"><span class="hidden">Gold</span><svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon"><circle cx="10" cy="10" r="8" fill="#FFCB00"></circle><path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path></svg></span>
                {% elseif vendor.partners_program === 4 %}
                  <span title="Platinum"><span class="hidden">Platinum</span><svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon"><circle cx="10" cy="10" r="8" fill="#5559DF"></circle><path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path></svg></span>
                {% endif %}
              </p>
              <p class="text-sm sm:text-md text-gray-600">{{ app.short_description }}</p>
            </div>

            
          </div>

          <div class="mt-auto">
            {% if ratings %}
              {% if rating %}
                <div class="flex items-center mt-1 text-gray-400 text-sm">
                  <span class="text-yellow-500">★</span>
                  <span class="ml-1">{{ rating.rating }}</span>
                  <span class="ml-1">({{ rating.count }})</span>
                </div>
              {% endif %}
            {% endif %}

            {% if installs %}
              <div class="text-gray-400 text-xs md:text-sm my-2 mb-4">      
                {{ appInstalls | numberFormat }} installs,
                since {{ app.created_at | formatDate }}.<br>
                <span class="whitespace-nowrap">{{ montlyInstalls }} installs/month.</span>
              </div>
            {% endif %}

            {% if app | isHostedOnMonday %}
              <span title="App & logs hosted by monday.com" class="inline-block bg-green-100 text-green-800 px-3 py-1 rounded-full text-xs">
                Hosted by monday.com
              </span>
            {% endif %}
            {% if app.pricing_data %}
              <span class="inline-block bg-blue-100 text-blue-800 px-3 py-1 rounded-full text-xs">
                {{ app.pricing_data }}
              </span>
            {% else %}
              <span class="inline-block bg-green-100 text-green-800 px-3 py-1 rounded-full text-xs">
                Free app
              </span>
            {% endif %}
          </div>
        </div>
      </a>

{% endmacro %}      