<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }} • Apps for monday.com</title>

<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/images/favicon/site.webmanifest" />

<link href="/css/styles.css" rel="stylesheet">

{% if canonical %}<link rel="canonical" href="{{ site. url }}{{ canonical }}" />{%else %}<link rel="canonical" href="{{ site. url }}{{ page.url }}" />{% endif %}
<meta property="og:title" content="{{ title }} | Apps for monday.com">
{% if description %}<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">{% endif %}
{% if keywords %}<meta name="keywords" content="{{ keywords }}">{% endif %}
<meta name="google-site-verification" content="9U0NQS-QO814XXRbIkeLOyboO_D9zdAu5cTG6MFKmZg" />
