<div class="headline-max-date" data-toggle="tooltip" title="Loading...">
    <div class="label">Max</div>
    <div class="headline headline-max"></div>
</div>
<div class="headline-min-date" data-toggle="tooltip" title="Loading...">
    <div class="label">Min</div>
    <div class="headline headline-min"></div>
    <div class="delta headline-min-delta"></div>
</div>
<div class="headline-current-date" data-toggle="tooltip" title="Loading...">
    <div class="label">Current</div>
    <div class="headline headline-current"></div>
    <div class="delta headline-current-delta"></div>
</div>