{% macro microsoftBadge() %}
<span data-toggle="tooltip" title="Also a Microsoft Partner">
    <svg class="ml-1" width="20" height="20" viewBox="-4 -4 28 28" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon">
        <rect x="0" y="0" width="10" height="10" fill="#F25022"></rect>
        <rect x="11" y="0" width="10" height="10" fill="#7FBA00"></rect>
        <rect x="0" y="11" width="10" height="10" fill="#00A4EF"></rect>
        <rect x="11" y="11" width="10" height="10" fill="#FFB900"></rect>
    </svg>
</span>
{% endmacro %}
