{% macro partnerBadge(partners_program) %}
    {% if partners_program == 1 %}
        <span data-toggle="tooltip" title="Bronze Marketplace Partner">
            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon">
                <circle cx="10" cy="10" r="8" fill="#C25531"></circle>
                <path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path>
            </svg>
        </span>
    {% elseif partners_program == 2 %}
        <span data-toggle="tooltip" title="Silver Marketplace Partner">
            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon">
                <circle cx="10" cy="10" r="8" fill="gray"></circle>
                <path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path>
            </svg>
        </span>
    {% elseif partners_program == 3 %}
        <span data-toggle="tooltip" title="Gold Marketplace Partner">
            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon">
                <circle cx="10" cy="10" r="8" fill="#FFCB00"></circle>
                <path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path>
            </svg>
        </span>
    {% elseif partners_program == 4 %}
        <span data-toggle="tooltip" title="Platinum Marketplace Partner">
            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon_a812034417 Rv7UF clickable_e41bd603c6" data-testid="icon">
                <circle cx="10" cy="10" r="8" fill="#5559DF"></circle>
                <path d="M10.173 15.066a7.24 7.24 0 0 1 4.88-4.657L16 10.14l-.933-.314a7.24 7.24 0 0 1-4.657-4.88L10.141 4l-.313.932a7.24 7.24 0 0 1-4.881 4.657L4 9.858l.933.313a7.24 7.24 0 0 1 4.656 4.881l.27.948.314-.934Z" fill="#fff"></path>
            </svg>
        </span>
    {% endif %}
{% endmacro %}