{% if vendor %}
  {% set _origin = site.origin if (site and site.origin) else '' %}
  {% set _vendorUrl = _origin ~ '/vendors/' ~ vendor.id ~ '/' %}
  {% set _marketplaceUrl = 'https://monday.com/marketplace/partner/' ~ vendor.id ~ '/' ~ (vendor.name | urlencode) %}

  {% set _sameAs = [] %}
  {% if vendor.website %}{% set _sameAs = _sameAs | concat([vendor.website]) %}{% endif %}
  {% set _sameAs = _sameAs | concat([_marketplaceUrl]) %}
  {% set _details = vendorDetails | findVendorDetailsById(vendor.id) %}
  {% set _addr = _details.address if _details else null %}
  {% if _details %}
    {% for _src in _details.sources %}{% if _src.type == 'linkedin' and _src.url and '/company/' in _src.url %}{% set _sameAs = _sameAs | concat([_src.url]) %}{% endif %}{% endfor %}
    {% for _p in partners | findPartnersByIds(_details.partnerIds) %}{% set _sameAs = _sameAs | concat([_origin ~ '/partners/' ~ _p.slug ~ '/']) %}{% endfor %}
  {% endif %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Organization",
        "@id": {{ (_vendorUrl ~ '#organization') | dump | safe }},
        "name": {{ (vendor.name or '') | dump | safe }},
        {% if _details and _details.legalName %}"legalName": {{ _details.legalName | dump | safe }},{% endif %}
        {% if _addr and _addr.countryCode %}
        "address": {
          "@type": "PostalAddress",
          {% if _addr.street %}"streetAddress": {{ _addr.street | dump | safe }},{% endif %}
          {% if _addr.city %}"addressLocality": {{ _addr.city | dump | safe }},{% endif %}
          {% if _addr.region %}"addressRegion": {{ _addr.region | dump | safe }},{% endif %}
          {% if _addr.postalCode %}"postalCode": {{ _addr.postalCode | dump | safe }},{% endif %}
          "addressCountry": {{ _addr.countryCode | dump | safe }}
        },
        {% endif %}
        "url": {{ (vendor.website or _vendorUrl) | dump | safe }},
        {% if vendor.logo_url %}"logo": {{ vendor.logo_url | dump | safe }},{% endif %}
        {% if vendor.email %}"email": {{ vendor.email | dump | safe }},{% endif %}
        {% if vendor.created_at %}"foundingDate": {{ vendor.created_at | yearFromDate | dump | safe }},{% endif %}
        {% if vendor.ratings and vendor.ratings.count > 0 %}
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "{{ vendor.ratings.rating }}",
          "reviewCount": {{ vendor.ratings.count }},
          "bestRating": "5",
          "worstRating": "1"
        },
        {% endif %}
        "sameAs": [
          {% for url in _sameAs %}{{ url | dump | safe }}{% if not loop.last %},{% endif %}{% endfor %}
        ]
      },
      {
        "@type": "BreadcrumbList",
        "itemListElement": [
          {"@type": "ListItem", "position": 1, "name": "Home",    "item": {{ _origin | dump | safe }}},
          {"@type": "ListItem", "position": 2, "name": "Vendors", "item": {{ (_origin ~ '/vendors/') | dump | safe }}},
          {"@type": "ListItem", "position": 3, "name": {{ (vendor.name or '') | dump | safe }}, "item": {{ _vendorUrl | dump | safe }}}
        ]
      }
    ]
  }
  </script>
{% endif %}
